---
import '../base.css';
import Navigation from '../components/Navigation/Navigation.astro';
import SocialLinks from '../components/SocialLinks.astro';
const {
	pageTitle = "",
	navIndex = 0,
	customBodyClass = "",
	hideNav = false
	} = Astro.props;
---

<html lang="en" class="h-full">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script src="../scripts/hamburger.js"></script>
		<script src="../scripts/footer.js"></script>
		<title>{pageTitle}</title>
	</head>
	<body
		class=`flex flex-col my-auto mx-0 h-full ${customBodyClass}`
	>
		<header class="px-1 lg:pr-24 lg:pl-40 sticky top-5 z-50">
			{hideNav ? null : <Navigation pageTitle={pageTitle} navIndex={navIndex} /> }
		</header>
		<main
			class=`flex flex-col lg:px-60 px-4 mb-auto
				${hideNav ? "" : "pt-5"}`
		>
			{ pageTitle === "" ? null : <h1 class="text-3xl py-10">{pageTitle}</h1>}
      <slot />
		</main>
		<footer class="sticky bottom-2">
			{hideNav ? null : <SocialLinks />}
		</footer>
	</body>
</html>
